__pycache__/
.venv/
.env
*.pyc
*.pyo
*.pyd
*.log
*.pdf
*.json
.pan_os_upgrade/
.pan_os_upgrade/*
.idea/
.vscode/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.DS_Store
Thumbs.db
build/
dist/
.eggs/
*.egg-info/
assurance/
assurance/*
logs/
logs/*
